controller:
  image: "docker.io/dionicio1/jenkins"
  tag: "latest"
  serviceType: LoadBalancer
  servicePort: 80
 # jenkinsUrl: http://localhost:8081
  additionalPlugins:
    - git-client:4.7.0
    - maven-plugin:3.23
    - sonar:2.17.2
    - sonar-quality-gates:1.3.1
    - docker-workflow:572.v950f58993843
    - docker-plugin:1.6
    - docker-commons:439.va_3cb_0a_6a_fb_29
    - kubernetes-client-api:6.10.0-240.v57880ce8b_0b_2
    - kubernetes-credentials:0.11
    - kubernetes-cli:1.12.1
    - kubernetes-pipeline-devops-steps:1.6
    - kubernetes-credentials-provider:1.262.v2670ef7ea_0c5
rbac:
  # -- Whether RBAC resources are created
  create: true
persistence:
  existingClaim: pv-claim